@use "../../scss/" as *;

.container {
  background-color: white;
}

.modal-overlay {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: modal-overlay 1s ease 0s 1 normal forwards;
}

@keyframes modal-overlay {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}


.modal-box {
  display: block;
  background: white;
  height: 30%;
  padding: 1rem;
  border-radius: 1rem;

}

.positiveTotal {
  color: green;
}

.negativeTotal {
  color: red;
}

.rowRed {
  background: rgb(216, 94, 94);
  color: black;
}

.rowGreen {
  background-color: rgb(26, 114, 26);
  color: black;
}